.nav{
    width: 100%;
    height: 18vh;
    background-color: white;
    overflow-x: hidden;
    
    
}
.nav_inner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_centre{
    
    .contact_menu{
       
        font-size: 1.3em;
        display: flex;
        margin-left: 3.3em;
        p{
            
          margin-top: .5em;
        }
        a{
           
            font-size: 2em;
            color: $main_blue;
            font-weight: 700;
            
        }
    }
    ul{
        display: flex;
        list-style: none;

        li + li{
            margin-left: 1em;
            
        }
        li{
            font-size: 1.3em;
        }
    }
}

.cta{
    margin-right: 2em;
    a{
        color: $main_white;
        font-size: 1.2em;
        font-weight: 600;
    }
}

.logo{
    margin-left: 2em;
    
}

@media screen and (max-width:50em) {
    .nav{
        height: auto;
    }
    .nav_inner{
        display: block;
    }

    .menu_centre{
    
        .contact_menu{
            font-size: .8em;
            display: block;

            p{
                font-size: 1.5em;
                margin: .5em 0 ;
              }
              a{
                    margin-left: 1em;
                   margin-top: -1em;
                  font-size: 2.5em;
                  color: $main_blue;
                  font-weight: 700;
                  
              }
        }

        ul{
            display: block;
            margin-left: 2.5em;
            li + li{
                margin-left: 1em !important;
                
                
            }

            li{
                font-size: 1.1em;
                display: inline;
                
                border-bottom: .1em solid gray;
                
                
            }
        }
    }

        .logo{
            margin-left: 0;
        a{
            img{
                width: 100%;
                height: auto;
               
            }
        }
    }

    .cta{
        
        margin: 1em;
        margin-left: 2em !important;
        a{
            color: $main_white;
            font-size: 1.3em !important;
            font-weight: 600;
        }
        
    }
}